<div class="draft_box" id="<%="#{idstring}"%>">
  <div class="box_title">
    <%= typestring %> Players
  </div>
  <div class="box_close">&times;</div>
  <div class="draft_pick">
    <%= form_tag select_player_path, :method => :put do %>
      <% players.each do |player| %>
        <div class="player_box" id="<%"player_#{player.id}"%>">
          <div class="picture_box">
          </div>
          <div class="text_box">
            <%= "#{player.full_name}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>