<%= render "draft_box", :players => @remaining_platinum_players, :idstring => "platinum_box", :typestring => "Platinum" %>
<%= render "draft_box", :players => @remaining_gold_players, :idstring => "gold_box", :typestring => "Gold" %>
<%= render "draft_box", :players => @remaining_silver_players, :idstring => "silver_box", :typestring => "Silver" %>

<div id="draft_buttons">
  <div class="draft_button" id="platinum">
    <h4>Platinum Players</h4>
  </div>

  <div class="draft_button" id="gold">
    <h4>Gold Players</h4>
  </div>

  <div class="draft_button" id="silver">
    <h4>Silver Players</h4>
  </div>
</div>

<script>
$('.player_box').click(function() {
  var player_box = $(this);
  var form = player_box.closest('form');
  var player_id = player_box.attr('id');
  form.find('.hidden_player_id').val(player_id);
  form.trigger('submit');
})
</script>