<h2>Draft Page</h2>

<% if current_user.id == @league.active_user_id %>
  <div id="player_select">
    <p>Choose one player:</p>
    <%= render "draft_form" %>
  </div>
<% else %>
  <div>You are not the current player</div>
<% end %>
