<h1>Fantasy Magic League</h1>


<h2>Your leagues</h2>
<% if current_user.present? %>
  <% current_user.leagues.each do |league| %>
    <%= link_to league.name, league %>
    <br/>
  <% end %>
<% end %>


<%= link_to "All Players", players_path %>
<%= link_to "All Users", users_path %>
<%= link_to "All Leagues", leagues_path %>