<div id="hero_unit">
  <h1>Like Magic: the Gathering?</h1>
  <h2>Enjoy Drafting With Friends?</h2>
  <h3>So Draft The Pro Tour!</h3>
</div>

<div id="league_unit">
  <h2>Your leagues</h2>
  <% if current_user.present? %>
    <% current_user.leagues.each do |league| %>
      <%= link_to league.name, league %>
      <br/>
    <% end %>
  <% end %>
</div>

<div class="links">
  <%= link_to "All Leagues", leagues_path %>
  <%= link_to "All Pro Players", players_path %>
</div>

