#select {
  text-align: center;
  margin-left: -80px;
  margin-top: 60px;
  margin-bottom: 50px;
}

#draft_buttons {
  margin: 20px auto;
  height: 150px;
  width: 1000px;
}

.draft_button {
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 200px;
  text-align: center;
}

.draft_button#platinum {
  background-color: #eeece7;
  background-image: url("platinum.png");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;

}

.draft_button#gold {
  background-color: #b89242;
  background-image: url("gold.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.draft_button#silver {
  background-color: #bfbfbf;
  background-image: url("silver.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.draft_box {
  height: 400px;
  width: 700px;
  border-radius: 5px;
  background: black;
  background: rgba(0,0,0,0.6);
  display: none;
  position: absolute;
  z-index: 20;
  color: white;
  overflow: auto;

  left: 20%;
}

.box_title {
  width: 200px;
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
}

.box_close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  padding: 5px;
}

.draft_pick {
  float: left;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.player_box {
  color: black;
  height: 120px;
  width: 80px;
  text-align: center;
  // border: 1px solid white;
  border-radius: 5px;
  float: left;
  margin: 10px;
  padding: 5px;
  background: #07427e;
  border:10px solid black;
}
.player_box:hover {
  border:10px solid red;
}
.picture_box {
  height: 55px;
  width: 78px;
  border: 1px solid black;
  border-radius: 5px;
  // background: white;
  background-image: url("jace.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.text_box {
  height: 50px;
  width: 70px;
  border: 1px solid black;
  background: #d7dee4;
  border-radius: 5px;
  margin-top: 5px;
  padding: 4px;
  overflow: hidden;
}

.selected {
  border: 1px solid red;
}

#draft_status {
  padding: 50px;
  width: 800px;
}











