#nav {
  background: black;
  color: white;
  height: 50px;
}
#nav a {
  color: white;
}

#nav a:visited {
  color: white;
}

#site_name {
  float: left;
  font-size: 25px;
}

#user_controls {
  float: right;
}