#js_notice {
  display: none;
}

#draft_prompt {
  text-align: center;
  padding-bottom: 10px;
}

#start_draft{

}

#league_info {
  height: 140px;
}

.info_box {
  float: left;
  margin-left: 7%;
  margin-right: 5%;
  width: 250px;
  height: 130px;
}

#league_name {
  font-size: 30px;
  line-height: 40px;
}

#invite {
  text-align: center;
}

#admin_links {
  text-align: right;
}

#view_draft {

}

#draft_info{
  font-size: 40px;
  line-height: 52px;
  margin: 10px auto;
  text-align: center;
  // border: 1px solid black;
  // border-radius: 5px;
  width: 150px;
  height: 60px;
}

#member_info {
  margin-left: 6%;
}

#member_line {
  text-align: center;
  padding-top: 10px;
  margin-bottom: -10px;
  font-size: 20px;
}

.user_box {
  border: 1px solid black;
  border-radius: 5px;
  height: 280px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: left;
  background-color: #d1dfff;
}

.username {
  text-align: center;
  margin-top: -1px;
}

#active_user {
  background-color: #9df58e;
}