#js_notice {
  display: none;
}

#view_draft {
  border: 1px solid black;
  font-size: 16px;
  #start_draft{

  }
  #draft_info{

  }
}

#league_info {
  border: 1px solid black;
}

#invite {
  border: 1px solid black;
}

.draft_pick {
  border: 1px solid black;
  float: left;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

#draft_info {

}